* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: roboto;
}

/*global styles*/

h1 {
    font-weight: 700;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.drk-bg {
    background-color: #1f2937;
    color: #f9faf8;
}

.small-img {
    width: 50%;
    height: auto;
}

.btn {
    background:#3882f6;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #f9faf8;
    color:#f9faf8
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(25%, auto);
    gap: 0.5em;
}

/*navigation*/

header {
    height: 10vh;
    padding: 2em;
}



ul.flex {
    list-style-type: none;
    
}

li {
    margin: 0 20px;
}

/*banner*/

#banner {
    height: 450px;
    overflow: hidden;
}


.banner-box {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.box1 {
    
    height: 25vh;
}


.banner-container {
    width: 80%;
}


/*photos section*/

#photos {
    margin: 2em auto;
    width: 80%;
}

.photos-box {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*quote section*/

#quote {
    padding: 2em 0;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    

}

.quote-block {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-author {
    align-self: flex-end;
}

@media (min-width: 1452px) {
    .quote-block {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .quote-author {
        align-self: center;
    }
    

}

/*call to action*/

.action-call {
    width: 60%;
    padding: 2em 0;
    height: auto;
    margin: 2em auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
}

@media (min-width: 1452px) {
    .action-call {
        
        flex-direction: column;
        justify-content: center;
    }

    .action-call input {
        margin: 1em auto;
    }
}

/*footer*/

footer {
    
    padding: 2em 0;
}

/*font*/

.italic {
    font-style: italic;
}

.thin-font {
    font-weight: 300;
}